{% extends 'chatbot/base.html' %}

{% block title %}الصفحة الرئيسية - فتاوى{% endblock %}

{% block content %}
<div class="d-flex justify-content-center" >
  <div class="chat-wrapper w-100" style="max-width: 900px; ">

      <!-- Chat display container -->
      <div id="chatbot" class="mb-3 " ></div>

      <!-- User input and send button -->
      <div id="userInput" class="input-group ">
          <input type="text" id="textInput" name="userMessage" class="form-control " placeholder="اكتب سؤالك هُنا...">
          <button class="btn btn-primary" id="buttonInput">إرسال</button>
      </div>

      <!-- Clear chat button -->
      <div class="text-center">
          <button class="btn btn-outline-danger btn-sm mt-3" onclick="clearChat()">مسح المحادثة</button>
          <input type="submit" class="btn btn-primary btn-sm mt-3" style="background-color: #a4d409;color: white;border: none;" value="عشوائي" id="randomQuestionBtn"/>
      </div>

      <div id="quick-questions" class="my-3">
        <button class="quick-btn">ما حكم التصوير؟</button>
        <button class="quick-btn">هل يجوز صلاة الوتر ركعة واحدة؟</button>
        <button class="quick-btn">ما حكم لبس الذهب للرجال؟</button>
        <button class="quick-btn">ما حكم قراءة الفاتحة على الميت عند قبره؟</button>
        <button class="quick-btn">حكم الكذب غير المتعمد؟</button>
        <button class="quick-btn">هل لفاعل الكبائر من توبة؟</button>
        <button class="quick-btn">حكم الفطر في نهار رمضان للمريض؟</button>
        <button class="quick-btn">حكم زيادة الثمن في البيع بالتقسيط؟</button>
     </div>
      
     
      
  </div>
</div>
{% endblock %}
<script>
    
  </script>