<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Islamic Fatwa Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/css/styles.css' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

   <h1>فتوى</h1>

   <div>

    <div id="chatbot">
        <p class="botText"><span>Hi There</span></p>
    </div>

    <div id="userInput">
        <input type="text" id="textInput" name="userMessage" placeholder="اكتب هنا.."/>
        <input type="submit" value="Send" id="buttonInput"/>
        <input type="submit" value="Random Question" id="randomQuestionBtn"/>
    </div>
    
   </div>

   <script>
    
    // Function to get user response
    function getUserResponse() {
        var userText = $('#textInput').val();
        if (userText.trim() === "") return;

        var userHTML = "<p class='userText'><span>" + userText + "</span></p>";
        $('#textInput').val("");  // Clear input field

        $('#chatbot').append(userHTML);
        
        // Send the user question to get the fatwa answer
        $.get('/chatbot/getResponse/', { userMessage: userText })
         .done(function(data) {
             $('#chatbot').append("<p class='botText'><span>" + data + "</span></p>");
         });
    }

    // Function to get random question
    function getRandomQuestion() {
        $.get('/chatbot/get-random-question/')
         .done(function(data) {
             // Show the random question in the input box
             $('#textInput').val(data.question);
             getUserResponse();  // Automatically send the random question
         })
         .fail(function() {
            $('#chatbot').append("<p class='botText'><span>Error fetching random question</span></p>");
         });
    }

    // Bind button click for sending user input
    $('#buttonInput').click(function () {
        getUserResponse();
    });

    // Enable "Enter" key to send message
    $('#textInput').keypress(function (event) {
        if (event.which == 13) { // 13 is the Enter key
            event.preventDefault();
            getUserResponse();
        }
    });

    // Bind button click for getting random question
    $('#randomQuestionBtn').click(function () {
        getRandomQuestion();
    });

   </script>
</body>
</html>
